:root {
    --light: rgb(190, 200, 210);
    --mid: rgb(125, 135, 145);
    --dark: rgb(50, 60, 70);
    --border: ;
    --margin: ;
    --padding: ;
    --content: ;
    --printfont: Calibri;
}
body {
    width: 100%;
    color: var(--light);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
header {
    width: 100%;
    color: var(--dark);
    font-family: var(--printfont);
}
header h1 {
    display: flex;
    justify-content: center;
}
header p {
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: row;
    width: 100%;
}
nav {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info {
    width: 85%;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: space-evenly;
}
.tgn {
    font-style: oblique;
    text-align: center;
}
.aspects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.portfolio, .about-me, .fi, .hobbies, .mission {
    width: 25%;
    border: black solid thin;
    height: 300px;
}
.experties {
    display: flex;
    flex-direction: column;
}